@font-face {
  font-family: 'MuseoSans-100'; font-style: normal; font-weight: 300;
  src: url(./museosans-100-webfont.woff) format('woff')
}

@font-face {
  font-family: 'MuseoSans-300'; font-style: normal; font-weight: 300;
  src: url(./museosans-300-webfont.woff) format('woff')
}

@font-face {
  font-family: 'MuseoSans-500'; font-style: normal; font-weight: 300;
  src: url(./museosans_500-webfont.woff) format('woff')
}

@font-face {
  font-family: 'MuseoSans-700'; font-style: normal; font-weight: 300;
  src: url(./museosans_700-webfont.woff) format('woff')
}

@font-face {
  font-family: 'MuseoSans-900'; font-style: normal; font-weight: 300;
  src: url(./museosans_900-webfont.woff) format('woff')
}
